body {
  color: #ffffff;
  font-family: 'Pixel Code', monospace;
  line-height: 2.0;
  margin: 0;
  max-width: none;
  font-size: 15px;
}

a:hover:not(.block):not(.not-prose) {
  color: #26a5d3;
}

nav a:hover {
  color: #d32626;
}

.hover\:border-pink-300:hover {
  --tw-border-opacity: 1;
  border-color: rgb(249 168 212 / var(--tw-border-opacity, 1));
}

.focus\:ring-pink-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(249 168 212 / var(--tw-ring-opacity, 1));
}