html {
  background-color: #1A1A1A;
}

body {
  color: #FFFFF0;
  font-family: 'Jetbrains Mono', monospace;
  line-height: 2.0;
  margin: 0;
  max-width: none;
  font-size: 14px;
}


a:hover:not(.block):not(.not-prose) {
  color: #ea698bff;
}

nav a:hover {
  color: #ea698bff;
}

.hover\:border-pink-300:hover {
  --tw-border-opacity: 1;
  border-color: rgb(249 168 212 / var(--tw-border-opacity, 1));
}

.focus\:ring-pink-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(249 168 212 / var(--tw-ring-opacity, 1));
}

a {
  color: #FFFFF0;
}

blockquote {
  border-left: 2px solid #FFFFF0;
  color: #FFFFF0;
}

h1 {
  color: #FFFFF0;
}

h2 {
  color: #FFFFF0;
}

h3 {
  color: #FFFFF0;
}

h4 {
  color: #FFFFF0;
}

h5 {
  color: #FFFFF0;
}

h6 {
  color: #FFFFF0;
}

.project-single li::before {
  content: none;
}

ul.project-single {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
}
ul.project-single li {
  padding-left: 0;
}