<div class="flex justify-center w-full my-16 px-4 md:px-0" style="margin-bottom: 32px; margin-top: 32px;">
  <figure class="flex flex-col items-center max-w-full">
      
    <a href="{{ .Get "src" | relURL }}" data-lightbox ="gallery ">
      <img 
        src="{{ .Get "src" | relURL }}" 
        alt="{{ .Get "alt" }}" 
        loading="lazy"
        class="w-full max-w-xs sm:max-w-md md:max-w-2xl lg:max-w-4xl h-auto object-contain rounded-lg shadow-md transition-shadow duration-300"
      />
    </a>

    <!-- <img 
      src="{{ .Get "src" | relURL }}" 
      alt="{{ .Get "alt" }}" 
      loading="lazy"
      class="w-full max-w-xs sm:max-w-md md:max-w-2xl lg:max-w-4xl h-auto object-contain rounded-lg shadow-md transition-shadow duration-300"
    />
    {{ with .Get "caption" }}
      <figcaption class="mt-2 text-sm text-gray-500 italic text-center px-2">
        {{ . }}
      </figcaption>
    {{ end }} -->
  </figure>
</div>